/* input */
.input-group{
            
}
.input-group label{
    color: black;
    font-weight: 700;
}
.input-group .input-control{
    border-radius: 5px;
    padding : 5px;
    border: 1px solid #b1b1b1;
    transition: border 0.2s,box-shadow 0.2s;
    margin-top: 4px;
    margin-bottom: 4px;
    width: calc(100% / 12 * 12 - 12px);
    color: #595959;
}
.input-group .input-option-select{
    border-radius: 5px;
    padding : 5px;
    border: 1px solid #b1b1b1;
    transition: border 0.2s,box-shadow 0.2s;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #595959;
}
.input-group .input-control:focus{
    border: 1px solid #0651dbc2;
    box-shadow: 1px 0px 0px 2px #0851d838;
}
.input-group .input-selection{
    color: #595959;
    display: flex;
}
.input-group .input-selection .item{
    border: 0px;
    width: 20px;
    height: 2em;
}
.input-group .input-selection span{
    padding: 4px;
}
/* input end */

/* table */
table.table{
    border-spacing: 0px;
    width: 100%;
}

table.table thead {
    /* background:rgba(0, 175, 233, 0.11) */
}
table.table thead tr th{
    border-bottom:1px solid rgb(185, 185, 185); 
    padding:3px;
    text-align:left;
}
table.table tbody tr td{
    border-top:0.5px solid rgb(185, 185, 185);
    padding:3px;
}
table.table-striped tr:nth-child(even){
    background-color: #f2f2f2;
}
table.table-bordered tr td,.table-bordered tr th{
    border:0.5px solid rgb(185, 185, 185);
}
table.table-hover tr:hover{
    background-color: #f2f2f2ec;
}
.table-responsive{
    overflow: auto;
}
/* table end */

/* container */
.container{
    padding: 10px;
}
/* container end */

/* button */
button.btn{
    border: none;
    padding:10px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #120e0e69;
    margin: 1px;
    text-shadow: 1px 1px 1px #03030333;
}
button.btn-default:hover{
    background-color: #cacaca;
}
button.btn-default:active{
    box-shadow: 0.1px 0.1px 0.1px 0.1px #120e0e69;
    background-color: #cacaca7e;
}
button.btn-primary:hover{
    background-color: #00afe9ec;
}
button.btn-primary:active{
    box-shadow: 0.1px 0.1px 0.1px 0.1px #120e0e69;
    background-color: #00afe98f;
}
button.btn-info:hover{
    background-color: #05ae05d2;
}
button.btn-info:active{
    box-shadow: 0.1px 0.1px 0.1px 0.1px #120e0e69;
    background-color: #05ae0541;
}
button.btn-warning:hover{
    background-color: #ffb71bd0;
}
button.btn-warning:active{
    box-shadow: 0.1px 0.1px 0.1px 0.1px #120e0e69;
    background-color: #ffb71b81;
}
button.btn-danger:hover{
    background-color: #e72305d3;
}
button.btn-danger:active{
    box-shadow: 0.1px 0.1px 0.1px 0.1px #120e0e69;
    background-color: #e7230586;
}
button.btn-default{
    font-size: 14px;
    background-color: #ffffff;
    color: #727272;
}
button.btn-primary{
    font-size: 14px;
    color:white;
    background-color: #00afe9;
}
button.btn-info{
    font-size: 14px;
    color:white;
    background-color: #06ae05;
}
button.btn-warning{
    font-size: 14px;
    color:white;
    background-color: #efb508e8;
}
button.btn-danger{
    font-size: 14px;
    color:white;
    background-color: #e72205;
}
button.btn-lg{
    padding:10px;
    font-size: 20px;
}
button.btn-md{
    padding:8px;
    font-size: 14px;
}
button.btn-sm{
    padding:7px;
    font-size: 13px;
}
button.btn-xs{
    padding:5px;
    font-size: 12px;
}
button.btn-block{
    width:100%;
}
/* button end */